<ion-header [translucent]="true">
  <ion-toolbar color="red">
    <ion-title>
      Peças
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-item color="dark" >
      <ion-thumbnail slot="start" >
        <img src="https://http2.mlstatic.com/D_NQ_NP_961718-MLB29136358848_012019-O.jpg">
      </ion-thumbnail >
      <ion-label>
      <b>Turbina K16 </b>
      <p>Borgwarner Agrale A8 Vw 8120 E 8150</p>
      <b slot="end" >R$2.698,66</b>
      </ion-label>
    </ion-item>


    <ion-item color="dark" >
      <ion-thumbnail slot="start" >
        <img src="https://images.tcdn.com.br/img/img_prod/612077/kit_nitro_com_1_fogger_para_ate_150hp_powerfogger_2660_1_20180413171716.jpg">
      </ion-thumbnail >
      <ion-label>
      <b>Kit Turbo</b>
      <p>Kit Nitro com 1 Fogger para até 150hp </p>
      <b slot="end" >R$ 10.483,00</b>
      </ion-label>
    </ion-item>


    <ion-item color="dark" >
      <ion-thumbnail slot="start" >
        <img src="https://d1mvenqtvaw2m9.cloudfront.net/CMS/images/ModelosRoda/RD000008341-1.jpg">
      </ion-thumbnail >
      <ion-label>
      <b>RODA TOKYO CARBON</b>
      <p>ARO 15X7 4X100 ET 35 </p>
      <b slot="end" >R$2.196,00</b>
      </ion-label>
    </ion-item>


    <ion-item color="dark" >
      <ion-thumbnail slot="start" >
        <img src="https://i.ebayimg.com/images/g/le4AAOSw3tddzcmU/s-l400.png">
      </ion-thumbnail >
      <ion-label>
      <b>Adesivo automotivo</b>
      <p>no airbags we die like real man</p>
      <b slot="end" >R$10,00</b>
      </ion-label>
    </ion-item>


    <ion-item color="dark" >
      <ion-thumbnail slot="start" >
        <img src="https://i.ebayimg.com/images/g/~9sAAOSw~vpaChJq/s-l400.jpg">
      </ion-thumbnail >
      <ion-label>
      <b>Motor 2jz</b>
      <p>800 horse power</p>
      <b slot="end" >$20.800,00 USD</b>
      </ion-label>
    </ion-item>


    <ion-item color="dark" >
      <ion-thumbnail slot="start" >
        <img src="https://images.tcdn.com.br/img/img_prod/662641/kit_air_cool_filtro_ar_esportivo_peugeot_208_1_5_8v_rc054_493_1_20190322095831.jpg">
      </ion-thumbnail >
      <ion-label>
      <b>Kit filtro de ar</b>
      <p>Filtro Ar Esportivo Peugeot 208 1.5 8v RC054</p>
      <b slot="end" >R$ 469,90</b>
      </ion-label>
    </ion-item>


    <ion-item color="dark" >
      <ion-thumbnail slot="start" >
        <img src="http://images.tcdn.com.br/img/img_prod/724765/fueltech_ft_600_229_1_20201214011137.png">
      </ion-thumbnail >
      <ion-label>
      <b>FuelTech 600</b>
      <p>FUELTECH FT 600 FUELTECH Módulos FT</p>
      <b slot="end" >R$ 9.965,50</b>
      </ion-label>
    </ion-item>



    <ion-item color="dark" >
      <ion-thumbnail slot="start" >
        <img src="https://ae01.alicdn.com/kf/Hf1893908a9824ff1a77ca523f8e356d3R.jpg_q50.jpg">
      </ion-thumbnail >
      <ion-label>
      <b>Neon</b>
      <p>Pmfc led luzes da parte inferior do carro 4x8 cores brilhante tira automática neon underglow underbody música sistema de som ativo neon luz carro kit</p>
      <b slot="end" >R$ 94,58</b>
      </ion-label>
    </ion-item>


    <ion-item color="dark" >
      <ion-thumbnail slot="start" >
        <img src="https://http2.mlstatic.com/D_NQ_NP_868129-MLB27839817364_072018-O.jpg">
      </ion-thumbnail >
      <ion-label>
      <b>Adesivo automotivo</b>
      <p>Adesivo initial-D Night Kids</p>
      <b slot="end" >R$ 19,69</b>
      </ion-label>
    </ion-item>







</ion-content>
