<ion-header [translucent]="true">
  <ion-toolbar color="red">
    <ion-title>
      Carros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense" >

  </ion-header>
  <ion-card color="dark" class="native">
    <ion-card-header color="dark">
      <img src="https://i.pinimg.com/originals/78/8d/be/788dbec052bd8726df28a328d9b23f1a.jpg">
      <ion-card-title><strong>Mazda Rx-7</strong></ion-card-title>
      <ion-card-subtitle><p>Iconico jdm e famoso pelo filme Velozes e Furiosos</p></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="dark"> O Mazda RX-7 é um carro esportivo com motor dianteiro / central, tração traseira e motor rotativo que foi fabricado e comercializado pela Mazda de 1978 a 2002 em três gerações, todas as quais usaram um compacto e leve Motor rotativo Wankel. ... Este apresentava um motor 13B REW turboalimentado sequencialmente.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://i.redd.it/cmobuixrqty21.jpg">
      <ion-card-title>Toyota corolla AE86 Trueno (Hachi-Roku)</ion-card-title>
      <ion-card-subtitle>Se tornou icônico devido ao seu uso por Takumi Fujiwara. Takumi usou este carro como seu principal meio de transporte para corridas e entregas de tofu.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      A linha de carros Toyota Sprinter é uma variante da linha Toyota Corolla, com o objetivo de ser mais esportivo do que a linha Corolla. O nome Trueno vem da palavra espanhola para trovão. O Trueno apresentava faróis retráteis "pop-up".
Dois tipos de Trueno são mostrados na Inicial D: o hatchback de 3 portas e o cupê de 2 portas.
O Sprinter Trueno é um carro básico da série.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://auctions.c.yimg.jp/images.auctions.yahoo.co.jp/image/dr000/auc0507/users/3/6/0/4/dennemonn000-img1200x900-1562504339jnwlxh20860.jpg">
      <ion-card-title>Toyota corolla AE86 Levin (Hachi-Go)</ion-card-title>
      <ion-card-subtitle>A versão mais fraca do AE86 e sem os farois iconicos retrateis  </ion-card-subtitle>
    </ion-card-header>
    O Corolla Levin AE86 foi o quarto carro de seu nome. O nome Levin significa relâmpago em inglês antigo, embora receba o nome da cidade de Levin, na Nova Zelândia, uma das sedes do Campeonato Tasman. O Levin possui faróis retangulares fixos.

    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://img.soutalomma.com/Large/201707170232153215.jpg">
      <ion-card-title>Toyota Supra mk4</ion-card-title>
      <ion-card-subtitle>Um dos mais famosos se não o mais famosos e querido dos JDMS, iconico por sua aparição em Velozes e Furiosos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      O Toyota Supra (japonês: ト ヨ タ ・ ス ー プ ラ, Toyota Sūpura) é um carro esporte e grand tourer fabricado pela Toyota Motor Corporation a partir de 1978. O nome " supra " é derivado do prefixo latino, que significa "acima", "superar" ou "vá além". As primeiras quatro gerações do Supra foram produzidas de 1978 a 2002.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://i.pinimg.com/originals/22/e5/ce/22e5cee5a8aba5d02620240f87f537cc.jpg">
      <ion-card-title>Nissan Silvia S15</ion-card-title>
      <ion-card-subtitle>O Nissan Silvia é um coupé esportivo criado pela Nissan.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      O S15 é um cupê esportivo com tração traseira, equipado com o SR20DET da Nissan ; um motor turboalimentado de 4 cilindros em linha de 2.0 litros com intercooler ar-ar que fornece uma potência de 250 cavalos que resulta em uma relação potência-peso de menos de 5Kg / PS.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Honda_NSX_Type_R.jpg/1280px-Honda_NSX_Type_R.jpg">
      <ion-card-title>Honda Ns-x</ion-card-title>
      <ion-card-subtitle>O honda mais bonito ja feito, projetado junto do grande  Ayrton Senna </ion-card-subtitle>
      <ion-card-subtitle>Desenvolvido com o apoio do piloto japonês Satoro Nakajima, a Honda aproveitou a experiência de Ayrton Senna para dar pitacos no carro. Em 1989, a Honda levou o carro e a equipe de desenvolvimento para encontrar Senna na pista de Suzuka. Lá, ele disse: “eu não acho que eu posso realmente dar conselhos apropriados em um carro de produção em massa”, mas aceitou dar umas voltas com o carro e desceu dizendo que “eu sinto que é um pouco frágil”.

        Com a contribuição daquele que viria a ser tricampeão mundial de Fórmula 1, ainda em 1989, eles levaram o carro para o circuito de Nurburgring, na Alemanha. Eles acreditavam que a pista era a ideal para detectar qualquer problema em termos de falta de sensibilidade na relação entre carro e motorista. E foi. Com o conselho de Senna, Nurburgring e oito meses de trabalho, eles aumentaram a rigidez torcional em 50%. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      “Carro do Senna” e “Ferrari japonesa”: esses são apenas dois dos apelidos do Honda NSX,
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://www.razaoautomovel.com/wp-content/uploads/2017/03/Honda-Civic-Type-R-EK9-1997-1.jpg">
      <ion-card-title>Honda civic Type R</ion-card-title>
      <ion-card-subtitle>Honda Civics são veículos comuns, mas você já viu algum Civics com um emblema vermelho e o emblema R na parte traseira? Sim, esse é o Tipo R e é a versão mais poderosa da família Civic.

        Ele foi projetado e desenvolvido para o circuito pela Honda no final dos anos 1990. O primeiro lote de motores Tipo R foi apresentado ao Honda Civic de 6ª geração, um hatchback de três portas.

        O EK9 Honda Civic Type R tinha um motor B16B portado à mão com uma transmissão manual de 5 velocidades, idêntica ao Integra Type R. Para um motor naturalmente aspirado, o B16B entregava impressionantes 182bhp. A aparência do EK9 é, sem dúvida, o último carro-dormitório de rua para corrida.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      “Carro do Senna” e “Ferrari japonesa”: esses são apenas dois dos apelidos do Honda NSX,
    </ion-card-content>
  </ion-card>


</ion-content>
