<ion-header [translucent]="true">
  <ion-toolbar color="red">
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    </ion-header>
    <ion-card color="dark" class="native">
      <ion-card-header color="dark">
        <img src="https://upload.wikimedia.org/wikipedia/en/1/1c/Super_Eurobeat_Vol.250_cover_art.png">
        <ion-card-title><strong>EUROBEAT</strong></ion-card-title>

      </ion-card-header>
      <ion-card-content color="dark"><p>The Eurobeat e Super Eurobeat gêneros são usados ​​e frequentemente associados à trilha sonora principal do anime Inicial d, que é sobre corredores de rua de passagem de montanha japoneses. Muitos artistas Eurobeat, como Dave Rodgers, Manuel, Dr. Love e outros têm canções apresentadas ao longo do anime. </p></ion-card-content>
    </ion-card>




    <ion-col class="ion-no-padding">
      <ion-card>
        <img src="https://i.ytimg.com/vi/zagLCHk6FpQ/mqdefault.jpg"
        alt="Refrigerantes">

       <ion-item lines="none" color="dark" class="ion-no-padding">
         <ion-label><strong></strong>
           Crazy for you love
         </ion-label>
       </ion-item>
       <ion-item lines="none" color="dark" class="ion-no-padding">

           <ion-badge color="bluemica"><p>https://www.youtube.com/watch?v=Hpec9F6Hd7w</p></ion-badge>
       </ion-item>
       </ion-card>
     </ion-col>


     <ion-col class="ion-no-padding">
      <ion-card>
        <img src="https://i.ytimg.com/vi/YdYwICNPDwI/0.jpg"
        alt="Refrigerantes">

       <ion-item lines="none" color="dark" class="ion-no-padding">
         <ion-label><strong></strong>
          Killing My Love
         </ion-label>
       </ion-item>
       <ion-item lines="none" color="dark" class="ion-no-padding">

           <ion-badge color="bluemica"><p>https://i.ytimg.com/vi/YdYwICNPDwI/0.jpg</p></ion-badge>
       </ion-item>
       </ion-card>
     </ion-col>



     <ion-col class="ion-no-padding">
      <ion-card>
        <img src="https://i.ytimg.com/vi/atuFSv2bLa8/maxresdefault.jpg"
        alt="Refrigerantes">

       <ion-item lines="none" color="dark" class="ion-no-padding">
         <ion-label><strong></strong>
          Gas Gas Gas
         </ion-label>
       </ion-item>
       <ion-item lines="none" color="dark" class="ion-no-padding">

           <ion-badge color="bluemica"><p>https://www.youtube.com/watch?v=atuFSv2bLa8</p></ion-badge>
       </ion-item>
       </ion-card>
     </ion-col>


     <ion-col class="ion-no-padding">
      <ion-card>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-8v6m_gQz5jruWjw_EDRPEtb4c9KVDcVbYXnUmafYPjkLq_TLB7jWWX9qjYTiS6m2Xg0&usqp=CAU"
        alt="Refrigerantes">

       <ion-item lines="none" color="dark" class="ion-no-padding">
         <ion-label><strong></strong>
          NO ONE SLEEP IN TOKYO
         </ion-label>
       </ion-item>
       <ion-item lines="none" color="dark" class="ion-no-padding">

           <ion-badge color="bluemica"><p>https://www.youtube.com/watch?v=0TZbi2dnIX0&ab_channel=Prettyok</p></ion-badge>
       </ion-item>
       </ion-card>
     </ion-col>


     <ion-col class="ion-no-padding">
      <ion-card>
        <img src="https://i.scdn.co/image/ab67616d0000b2736e5b6627f3e170c7f3e9de0f"
        alt="Refrigerantes">

       <ion-item lines="none" color="dark" class="ion-no-padding">
         <ion-label><strong></strong>
          Speedy Speed Boy
         </ion-label>
       </ion-item>
       <ion-item lines="none" color="dark" class="ion-no-padding">

           <ion-badge color="bluemica"><p>https://www.youtube.com/watch?v=jPl_1RpBK_4</p></ion-badge>
       </ion-item>
       </ion-card>
     </ion-col>


     <ion-col class="ion-no-padding">
      <ion-card>
        <img src="https://i.ytimg.com/vi/i3POnHISO-c/maxresdefault.jpg"
        alt="Refrigerantes">

       <ion-item lines="none" color="dark" class="ion-no-padding">
         <ion-label><strong></strong>
          SAVE ME
         </ion-label>
       </ion-item>
       <ion-item lines="none" color="dark" class="ion-no-padding">

           <ion-badge color="bluemica"><p>https://www.youtube.com/watch?v=7w67YfN8dvo</p></ion-badge>
       </ion-item>
       </ion-card>
     </ion-col>










</ion-content>
